<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8">
        <link href="@/css/menu.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header" />
        <div class="contenido"><!-- comment -->
            <h2> Dtos del Articulo </h2><!-- comment -->
            <a th:href="@{/articulo/listado}">Regresar</a>
            <br/><!-- <br/> -->
            <br/><!-- comment -->
            <form th:action="@{/articulo/guardar}"            
                  method="post"            
                  th:object="${articulo}">   
                <input type="hidden" name="idArticulo" th:field="*{idArticulo}"/>
                <input type="hidden" name="idCredito" th:field="*{credito.idCredito}"/>
                <label for="categoria">Categoria:</label>
                <select th:field="*{idCategoria}">
                    <option th:each="categoria: ${categorias}"
                            th:value="${categoria.idCategoria}"
                            th:text="${categoria.descripcion}"/>
                </select>
                <label for="descripcion">Descripcion: </label>            
                <input type="text" name="descripcion" th:field="*{descripcion}" />            
                <br>            
                <label for="detalle">Detalle: </label>            
                <input type="text" name="detalle" th:field="*{detalle}" />            
                <br>            
                <label for="precio">Correo: </label>            
                <input type="email" name="correo" th:field="*{correo}" />            
                <br>            
                <label for="existencias">Teléfono: </label>            
                <input type="tel" name="tel" th:field="*{telefono}" />            
                <br>   
                <label for="limite">Limite: </label>            
                <input type="number" name="limite" th:field="*{credito.limite}" />            
                <br> 
                <input type="submit" name="Guardar" value="Guardar" />        
            </form> 
        </div>
        <footer th:replace="layout/plantilla :: footer" />
    </body>
</html>
