<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8">
        <style>
            .contenido {
                text-align: center;
                border-radius: 20px;
                top: 50%;
                left: 50%;
                margin-left: -200px;
                margin-top: -125px;
                background-color: grey;
                overflow: auto;
                position: fixed;
                width: 400px;
                height: 250px;
            }
            </style>
    </head>
    <body>
        <div class="contenido">
            <h2 th:text="#{login.login}">Autenticar</h2><!-- comment -->
            <form method="post" th:action="@{/login}">
                <label for="username" th:text="#{login.username}">Usuario: </label><br /><!-- comment -->
                <input type="text" name="username" id="username" /><br/> <br/>
                <label for="password" th:text="#{login.password}">Password: </label><br /><!-- comment -->
                <input type="password" name="password" id="password" /><br/> <br/>
                <button type="submit" value="#{login.login}">Login</button>
            </form>
        </div>
    </body>
</html>
